Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_7_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_7_0.so
Library/PackageCache/com.unity.burst@7a907cf5a459/.Runtime/libburst-llvm-18.dylib
Library/PlayerDataCache/Win642/Data/sharedassets3.assets.resS
Library/PlayerDataCache/Win642/Data/sharedassets2.assets.resS
